
<li>
    <a href="/book/<%= book.id %> ">
        <div>
            <img src="<%= book.imgUrl %> " alt="<%= book.title %> " class='img'>
            <p><%= book.title %> </p>
            <p>ID: <%= book.id %></p>
        </div>
    </a>
</li>